@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'projects.scss';
@import 'signup.scss';
@import 'contact.scss';

body {
  font-family: 'Muli';
  letter-spacing: 0.0625em;
}

a {
  color: $pink;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.bg-blue {
  background-color: $blue !important;
}

.bg-pink {
  background-color: $pink !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}
